.footer {
    width: 100vw;
    height: 20vh;
    background-color: rgb(0, 0, 0);
}

.links {
    justify-content: space-around;
    display: flex;
}

.copy {
    display: flex;
    justify-content: center;
}